/* google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* css reset */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/Background.jpg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 1.2vw;
   }

  #heading {
    max-width: 750px;
    margin: 4rem auto;
    padding: .6rem;
  }

  #main {
      padding: 0% 20% 0% 20%;
  }

  #survey-form {
    background: rgb(255,75,75);
    background: linear-gradient(45deg, rgba(255,75,75,1) 0%, rgba(170,56,145,1) 50%, rgba(56,32,92,1) 100%);
}


  #title {
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.2;
    padding: .6rem;
  }

  #description {
    font-size: 1.1rem;
    text-align: center;
    padding: .2rem;
  }

  #survey-form {
    background-color: #2222425d;
    padding: 3rem 2.5rem;
    border-radius: 7px;
  }

  #submit {
    background: #22d87d;
    color: #fff;
    padding: .7rem;
    font-size: 1.15rem;
    cursor: pointer;
  }

  #submit:hover {
    background: rgb(9, 168, 89);
  }

.form {
  width: 100%;
  padding: .7rem;
  border-radius: 6px;
  font-size: 1.0rem;
  border: none;
  margin-top: 10px;
}

#os-label b,#job-level b {
  margin-bottom: 10px;
}

  @media only screen and (max-width:480px){

  #main {
    padding: 0% 0% 0% 0%;
    }
  }